.dart_tool/
build/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.packages

android/app/build/
android/build/
android/.gradle/
*.apk
*.aab

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

.idea/
.vscode/
*.iml
.DS_Store
*.log
